:root {
  --highlight: gold;
}

body {
  margin: 0;
  padding: 0 20px 20px;
  font-family: Helvetica;
  font-size: 14px;
}

* { box-sizing: border-box; }

form {
  display: flex;
}

svg {
  height: 35px;
}

.button0,
.button1,
.button2,
.button3,
.button4,
.button5,
.button12,
.button13,
.button14,
.button23,
.button24,
.button34,
.button25,
.button123,
.button124,
.button134,
.button234,
.button1234 {
  width: 52px;
}

.buttonn,
.buttonN,
.buttonf,
.buttond,
.buttondf,
.buttondb,
.buttonu {
  width: 37px;
}

.buttonub0,
.buttonub1,
.buttonub2,
.buttonub3,
.buttonub4,
.buttonub5,
.buttonub12,
.buttonub13,
.buttonub14,
.buttonub23,
.buttonub24,
.buttonub34,
.buttonub25,
.buttonub123,
.buttonub124,
.buttonub134,
.buttonub234,
.buttonub1234,
.buttonuf0,
.buttonuf1,
.buttonuf2,
.buttonuf3,
.buttonuf4,
.buttonuf5,
.buttonuf12,
.buttonuf13,
.buttonuf14,
.buttonuf23,
.buttonuf24,
.buttonuf34,
.buttonuf25,
.buttonuf123,
.buttonuf124,
.buttonuf134,
.buttonuf234,
.buttonuf1234,
.buttondf0,
.buttondf1,
.buttondf2,
.buttondf3,
.buttondf4,
.buttondf5,
.buttondf12,
.buttondf13,
.buttondf14,
.buttondf23,
.buttondf24,
.buttondf34,
.buttondf25,
.buttondf123,
.buttondf124,
.buttondf134,
.buttondf234,
.buttondf1234,
.buttondb0,
.buttondb1,
.buttondb2,
.buttondb3,
.buttondb4,
.buttondb5,
.buttondb12,
.buttondb13,
.buttondb14,
.buttondb23,
.buttondb24,
.buttondb34,
.buttondb25,
.buttondb123,
.buttondb124,
.buttondb134,
.buttondb234,
.buttondb1234,
.buttond0,
.buttond1,
.buttond2,
.buttond3,
.buttond4,
.buttond5,
.buttond12,
.buttond13,
.buttond14,
.buttond23,
.buttond24,
.buttond34,
.buttond25,
.buttond123,
.buttond124,
.buttond134,
.buttond234,
.buttond1234,
.buttonf0,
.buttonf1,
.buttonf2,
.buttonf3,
.buttonf4,
.buttonf5,
.buttonf12,
.buttonf13,
.buttonf14,
.buttonf23,
.buttonf24,
.buttonf34,
.buttonf25,
.buttonf123,
.buttonf124,
.buttonf134,
.buttonf234,
.buttonf1234,
.buttonb0,
.buttonb1,
.buttonb2,
.buttonb3,
.buttonb4,
.buttonb5,
.buttonb12,
.buttonb13,
.buttonb14,
.buttonb23,
.buttonb24,
.buttonb34,
.buttonb25,
.buttonb123,
.buttonb124,
.buttonb134,
.buttonb234,
.buttonb1234,
.buttonu0,
.buttonu1,
.buttonu2,
.buttonu3,
.buttonu4,
.buttonu5,
.buttonu12,
.buttonu13,
.buttonu14,
.buttonu23,
.buttonu24,
.buttonu34,
.buttonu25,
.buttonu123,
.buttonu124,
.buttonu134,
.buttonu234,
.buttonu1234 {
  width: 92px;
}

.highlight {
  background: var(--highlight);
}

.count { min-height: 16px; }

input[type="text"],
select {
  flex: 1;
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 20px;
  font-size: 1rem;
}

input[type="text"]:focus,
select:focus {
  outline: 0;
}

label {
  display: inline-block;
  padding: 10px 0;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label:not(:last-of-type) {
  padding-right: 10px;
}

table {
  border-collapse: collapse;
}

tr:nth-of-type(odd) td {
  background-color: #ddd;
}

th {
  background-color: #aaa;
  text-align: left;
  font-size: 1.2rem;
}

th:first-of-type,
th:nth-of-type(2) {
  width: 25%;
}

th,
td {
  padding: 20px 10px;
}
