:root {
  --highlight: gold;
}

body {
  margin: 0;
  padding: 0 20px 20px;
  font-family: Helvetica;
  font-size: 14px;
}

* { box-sizing: border-box; }

form {
  display: flex;
}

svg {
  height: 45px;
  width: 65px;
}

.highlight {
  background: var(--highlight);
}

.count { min-height: 16px; }

input[type="text"],
select {
  flex: 1;
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 20px;
  font-size: 1rem;
}

input[type="text"]:focus,
select:focus {
  outline: 0;
}

label {
  display: inline-block;
  padding: 10px 0;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label:not(:last-of-type) {
  padding-right: 10px;
}

table {
  border-collapse: collapse;
}

tr:nth-of-type(odd) td {
  background-color: #ddd;
}

th {
  background-color: #aaa;
  text-align: left;
  font-size: 1.2rem;
}

th:first-of-type,
th:nth-of-type(2) {
  width: 25%;
}

th,
td {
  padding: 20px 10px;
}
